# Stuff we don't want to track

# automake stuff
configure
aclocal.m4
Makefile.in
autom4te.cache/
build-aux/
libltdl/
m4/argz.m4
m4/libtool.m4
m4/lt*.m4
autoheader_dummy.*
Makefile
config.log
config.status
libtool
stamp-h*
*-autoconf.h

# MSVC stuff
ipch/
bin/
Debug*/
Release*/
*.vcproj.*.user
*.vcxproj.user
*.sdf
*.opensdf
*.ncb
*.suo
*.aps
